<div class="row bg-light h-100 rounded-5 p-4">
   <div class="col-md-7 col-sm-12 p-4"><h5>{{this.title}}</h5>
          <p>{{this.paragraph_text}}
</p>
          <a class="btn btn-primary mb-3" href={{this.link}}" target="_blank" rel="noopener">{{this.link_name}}</a>
  </div>
        <div class="col-md-5 col-sm-12">
        <div style="background-image: url('https://dam.redshieldtoolkit.org/m/562730b0ee2ac40a/original/Volunteer-Serving-Food.jpg');
  background-size: cover;
  background-position: top center;
  height: 300px;
  width: 100%;
  border-radius: 10px;"></div> 
        </div>

      </div>
      
  
   